<h2>Casecomment Records</h2>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
            <mat-cell *matCellDef="let casecomment"> {{casecomment.time | date: 'MM/dd/yy hh:mm a'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comment">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Comment </mat-header-cell>
            <mat-cell *matCellDef="let casecomment"> {{casecomment.comment}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cases_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cases_id </mat-header-cell>
            <mat-cell *matCellDef="let casecomment"> {{casecomment.cases_id}} </mat-cell>
        </ng-container>
 
        <ng-container matColumnDef="casesSummary">
            <mat-header-cell *matHeaderCellDef mat-sort-header> CasesSummary </mat-header-cell>
            <mat-cell *matCellDef="let casecomment"> {{casecomment.casesSummary}} </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
</div>