<mat-toolbar>
    <span class="center">New Sales</span>
</mat-toolbar>

<form [formGroup]="salesForm" class="normal-form" (submit)="addSales()">
    <mat-grid-list cols="4" rowHeight="175px">
        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input formControlName="firstname" matInput placeholder="Firstname">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="lastname" matInput placeholder="Lastname">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">
 
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="address" matInput placeholder="Address">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input formControlName="phone" matInput placeholder="Phone">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="jobtitle" matInput placeholder="JobTitle">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">

                <div>
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="salesForm.invalid">Submit</button>
                </div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
</form>