<h1>Resolution</h1>
<hr>
<div class="mat-elevation-z8"> 
    <mat-form-field class="search-form-field"  floatLabel="never" style="width:100% !important" >
        <input matInput [(ngModel)]="searchKey"  autocomplete="off" (keyup)="applyFliter()">
        <button mat-button matSuffix mat-icon-button arial-label = "Clear" *ngIf="searchKey" (click) = "onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<hr>

<button mat-raised-button color="primary" (click)="onCreate()" style="float:right;height: 50px; width:100%;">
    <mat-icon>add</mat-icon>
    Create
</button> 
<hr>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> RId </mat-header-cell>
            <mat-cell *matCellDef="let resolution"> {{resolution.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="productName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ProductName </mat-header-cell>
            <mat-cell *matCellDef="let resolution"> {{resolution.productName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let resolution"> {{resolution.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="step">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Step </mat-header-cell>
            <mat-cell *matCellDef="let resolution"> {{resolution.step}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5 , 10, 25, 100]" [pageSize]="10"></mat-paginator>
</div>