<mat-nav-list>
    <h2 matSubheader>Team Memebers</h2>
    <div class="profile-card">
        <div class="header">
            <h4>Shuo-Yuan Chang</h4>
            <h4>Yen-Ming Chen</h4>
            <h4>I-Ling Yeh</h4>
            <h4>Yuke Liu</h4>
            <!-- <h4>antonio@gmail.com</h4> -->
        </div>
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Will_Smith_2011%2C_3.jpg" alt="Soufiane FADIL"> -->
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Detail</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Customer</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/salesPerson">SalesPerson</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee">Employee</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">Products</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/case">Cases</a>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a> -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Action</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/buy">Buy</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/caseComment">CaseComment</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/resolution">Resolution</a>

</mat-nav-list> 