<mat-toolbar>
    <span class="center">New Purchase</span>
</mat-toolbar>

<form [formGroup]="buyForm" class="normal-form" (submit)="addBuy()">
    <mat-grid-list cols="3" rowHeight="200px">
        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input formControlName="customerId" matInput placeholder="CustomerId">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="productId" matInput placeholder="ProductId">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="salespersonId" matInput placeholder="SalespersonId">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input formControlName="quantity" matInput placeholder="Quantity">
                    <mat-error>Invalid</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="oderDate" matInput [matDatepicker]="picker" placeholder="OderDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="payDate" matInput [matDatepicker]="picker1" placeholder="PayDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input formControlName="deliverDate" matInput [matDatepicker]="picker2" placeholder="DeliverDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="buyForm.invalid">Submit</button>
                </div>

            </div>
        </mat-grid-tile>


    </mat-grid-list>
</form>